<% content_for :heading do %>
  <%= link_to "Back", start_path, "data-icon" => "back",
              "data-role" => "button", "class" => "ui-btn-left" %>
  <h1>Sign in</h1>
<% end %>


<%= form_tag sessions_path, 'data-ajax' => 'false' do %>
  <fieldset>
    <div data-role="fieldcontain">
      <%= email_field_tag :email, nil, placeholder: "Email", id: "new_session_email" %>
    </div>
    <div data-role="fieldcontain">
      <%= password_field_tag :password, nil, placeholder: "Password", id: "new_session_password" %>
    </div>
    <%= submit_tag "Sign in" %>
  </fieldset>
<% end %>