<% content_for :page_div do %>
  <div class="page" data-role="page" data-fullscreen="true" id="new_meeting_page">
<% end %>
<% content_for :heading do %>

  <%= link_to "Manual", user_manual_entry_path(current_user), 
          "data-icon" => "plus", "data-role" => "button", "class" => "ui-btn-left" %>
  
  <%= link_to "Refresh", "#", "onclick" => "refreshCatchupPage()", 
          "data-icon" => "refresh", "data-role" => "button", "class" => "ui-btn-right" %>
  <h1>Catch up</h1>
<% end %>
<!-- <p id="position-info"></p> -->
<div id="new_catchup_list">
  <ul data-role="listview" id="around_me_list" data-inset="true"> 
  </ul>
</div>
    
<%= render :partial => 'old_catchup_list' %>

<%= render :partial => 'layouts/footer', :locals => {:footer_tab => "catchup"} %>

<script type="text/javascript">
  var getListDataId;
  $(document).on('pageshow', '#new_meeting_page', function (event) {
      // updates the current locatin of the user
      getPosition(sendGeoLocPosition);
      // updates the list every few seconds
      getListDataId = setInterval(function(){
        getListData();
      }, 2000);
    }).on('pagebeforehide', '#new_meeting_page', function (event) {
    // stops updating the page every few seconds
    clearInterval(getListDataId);
  });

  var getListData = function() {
      $.ajax("<%= user_update_catch_up_page_path(current_user) %>", {
          type: 'POST',
          // success: updateList,
          error: function() { 
            //alert('error in getListData!') 
          }
      });
  }

  var sendGeoLocPosition = function(position) {
      // $.ajax("<%= user_update_catch_up_page_path(current_user) %>", {
      $.ajax("<%= user_update_user_position_path(current_user) %>", {  
          type: 'POST',
          data: { latitude: position.coords.latitude, 
                  longitude: position.coords.longitude },
          success: function(data) { 
            // alert(data) 
          },
          error: function() { alert('error in sending position!') }
      });
  }

  var refreshCatchupPage = function() {
    // updates the current locatin of the user
    getPosition(sendGeoLocPosition);
    getListData();  
  }

  function getPosition(sendGeoLocPosition) {
    if ( navigator.geolocation ) {
      //alert("geolocalisation supported");
      navigator.geolocation.getCurrentPosition( 
          sendGeoLocPosition, 
          errorCallback,
          {
            enableHighAccuracy : true,
            timeout : 10000,
            maximumAge : 60000 //60 seconds
          }
        );
    } else {
      alert("geolocalisation not supported");
    // geolocalisation not supported
    }
  }

  var errorCallback = function(error){
    // alert(error);
    switch(error.code)
    {
      case error.PERMISSION_DENIED:
        alert("Request for geolocation denied.");
        break;
      case error.POSITION_UNAVAILABLE:
        alert("Location information is unavailable.");
        break;
      case error.TIMEOUT:
        alert("The request to get user location timed out.");
        break;
      case error.UNKNOWN_ERROR:
        alert("An unknown error occurred.");
        break;
    }  

  }

</script>
