<% content_for :heading do %>
  <%= link_to "Refresh", "#", "onclick" => "getPosition(sendGeoLocPosition)", 
          "data-icon" => "refresh", "data-role" => "button", "class" => "ui-btn-right" %>
  <h1>Catch up</h1>
<% end %>

<div>
  Arround me:
  <ul data-role="listview" id="arround_me_list" data-inset="true" data-split-icon="delete" data-split-theme="a"> 
  </ul>
</div>
<div>
  Pending:
  <ul data-role="listview" id="pending_list" data-inset="true" data-split-icon="delete" data-split-theme="a"> 
  </ul>
</div>
<div>
  To confirm:
  <ul data-role="listview" id="to_confirm_list" data-inset="true" data-split-icon="delete" data-split-theme="a"> 
  </ul>
</div>
<div id="new_meeting_ctrlgrp">
  <div data-role="controlgroup" data-type="horizontal">
    <%= link_to "Use contact list", user_new_with_contact_path(current_user), "id" => "",  "data-role" => "button", "data-theme" => "b" %>
    <%= link_to "Use email", user_new_with_email_path(current_user), "id" => "",  "data-role" => "button", "data-theme" => "b" %>
  </div>
</div>

<script type="text/javascript">
  var sendGeoLocPosition = function(position) {
      $.ajax("<%= user_update_location_path(current_user) %>", {
          type: 'POST',
          data: { latitude: position.coords.latitude, 
                  longitude: position.coords.longitude },
          success: function(data) { alert(data) },
          error: function() { alert('error in sending position!') }
      });
  }

  var populate_list = function(){}

</script>

<%= render :partial => 'layouts/footer', :locals => {:footer_tab => "catchup"} %>