<% content_for :page_div do %>
  <div class="page" data-role="page" data-fullscreen="true" id="new_meeting_page">
<% end %>
<% content_for :heading do %>

  <%= link_to "Manual", user_manual_entry_path(current_user), 
          "data-icon" => "plus", "data-role" => "button", "class" => "ui-btn-left" %>
  
  <%= link_to "Refresh", "#", "onclick" => "refreshCatchupPage()", 
          "data-icon" => "refresh", "data-role" => "button", "class" => "ui-btn-right" %>
  <h1>Catch up</h1>
<% end %>

<div id="new_catchup_list">
  <ul data-role="listview" id="around_me_list" data-inset="true"> 
  </ul>
</div>

<%= render :partial => 'layouts/footer', :locals => {:footer_tab => "catchup"} %>

<script type="text/javascript">
  var getListDataId;

  $(document).on('pageshow', '#new_meeting_page', function (event) {
    // updates the current locatin of the user
    getPosition(sendGeoLocPosition);
    // updates the list every few seconds
    getListDataId = setInterval(function(){
      getListData();
    }, 2000);
  }).on('pagebeforehide', '#new_meeting_page', function (event) {
    // stops updating the page every few seconds
    clearInterval(getListDataId);
  });

  var getListData = function() {
      $.ajax("<%= user_update_catch_up_page_path(current_user) %>", {
          type: 'POST',
          // success: updateList,
          error: function() { 
            //alert('error in getListData!') 
          }
      });
  }

  var sendGeoLocPosition = function(position) {
      // $.ajax("<%= user_update_catch_up_page_path(current_user) %>", {
      $.ajax("<%= user_update_position_path(current_user) %>", {  
          type: 'POST',
          data: { latitude: position.coords.latitude, 
                  longitude: position.coords.longitude },
          success: function(data) { 
            // alert(data) 
          },
          error: function() { alert('error in sending position!') }
      });
  }

  var refreshCatchupPage = function() {
    getListData();  
  }

</script>
