<% content_for :heading do %>
  <%= link_to "Refresh", "#", "onclick" => "refreshCatchupPage()", 
          "data-icon" => "refresh", "data-role" => "button", "class" => "ui-btn-right" %>
  <h1>Catch up</h1>
<% end %>

<div data-role="collapsible" data-collapsed="true" id="new_catchup_list">
  <h2>Arround me:</h2>
  <ul data-role="listview" id="arround_me_list" data-inset="true" data-split-icon="delete" data-split-theme="a"> 
  </ul>
</div>
<div data-role="collapsible">
  <h2>Pending:</h2>
  <ul data-role="listview" id="pending_list" data-inset="true" data-split-icon="delete" data-split-theme="a"> 
  </ul>
</div>
<div data-role="collapsible">
  <h2>To confirm:</h2>
  <ul data-role="listview" id="to_confirm_list" data-inset="true" data-split-icon="delete" data-split-theme="a"> 
  </ul>
</div>
<div id="new_meeting_ctrlgrp">
  <div data-role="controlgroup" data-type="horizontal">
    <%= link_to "Use contact list", user_new_with_contact_path(current_user), "id" => "",  "data-role" => "button", "data-theme" => "b" %>
    <%= link_to "Use email", user_new_with_email_path(current_user), "id" => "",  "data-role" => "button", "data-theme" => "b" %>
  </div>
</div>

<script type="text/javascript">

  var updateListId
  $( '#page' ).bind('pageshow', function () { 
    // updates the current locatin of the user
    getPosition(sendGeoLocPosition);
    // updates the list every few seconds
    updateListId = setInterval(function(){
      updateList();
    },2000)
    updateList();
  });

  $( '#page' ).bind('pagebeforehide', function () { 
    // stops updating the page every few seconds
    clearInterval(updateListId);;
  });

  var updateList = function() {
      $.ajax("<%= user_update_catch_up_page_path(current_user) %>", {
          type: 'POST',
          success: function(data) { 
            // alert(data) 
          },
          error: function() { alert('error in updateList!') }
      });
  }

  var refreshCatchupPage = function() {
    getPosition(sendGeoLocPosition);  
  }
  var sendGeoLocPosition = function(position) {
      // $.ajax("<%= user_update_catch_up_page_path(current_user) %>", {
      $.ajax("<%= user_update_position_path(current_user) %>", {  
          type: 'POST',
          data: { latitude: position.coords.latitude, 
                  longitude: position.coords.longitude },
          success: function(data) { 
            // alert(data) 
          },
          error: function() { alert('error in sending position!') }
      });
  }

  var populate_list = function(){}

</script>

<%= render :partial => 'layouts/footer', :locals => {:footer_tab => "catchup"} %>