<% content_for :page_div do %>
  <div class="page" data-role="page" id="new_with_email_page">
<% end %>
<% content_for :heading do %>
  <%= link_to "Back", "#", "data-rel" => "back", "data-icon" => "back",
              "data-role" => "button", "class" => "ui-btn-left" %>
  <h1>Catch up (manual)</h1>
<% end %>

<%= form_tag user_create_with_email_path(current_user), 'data-ajax' => 'false' do %>
  <fieldset>
    <div data-role="fieldcontain">
      <%= email_field_tag :email, nil, placeholder: "Email" %>
    </div>
    <%= submit_tag "Catchup" %>
  </fieldset>
<% end %>

<%= render :partial => 'layouts/footer', :locals => {:footer_tab => "catchup"} %>