<% content_for :page_div do %>
  <div class="page" data-role="page" id="show_list_page">
<% end %>
<% content_for :heading do %>
  <%#= link_to "Map", user_show_map_path(current_user), "data-icon" => "grid",
              "data-role" => "button", "class" => "ui-btn-right" %>
  <h1>MEETINGS</h1>
<% end %>

<% if @list.any? %>
  <ul data-role="listview" data-inset="true" id="show_list">
    <% @list.each do |item| %>
      <li>
        <a href=<%= user_meeting_path(current_user, item[:meeting]) %>>
          <h3><%= item[:user].name %></h3>
          <p>
            <% item[:meeting].notes.each do |note| %>   
              <%= note.content %>
            <% end %>
          </p>
          <p class="ui-li-aside ui-li-desc"><%= item[:meeting].created_at.strftime("%d/%m/%Y %R") %><br/><br/><strong><%= item[:meeting].venue.name unless item[:meeting].venue.blank? %></strong></p>
        </a>
        <%#= link_to item[:user].name, user_meeting_path(current_user, item[:meeting]) %>
      </li>
    <% end %>

  </ul>
<% end %>

<%= render :partial => 'layouts/footer', :locals => {:footer_tab => "list"} %>

<script type="text/javascript">
  $('#show_list_page').on('pageshow', function (event) {
    $('#show_list').listview('refresh');
    // alert("show_list_page refreshed")
  });
</script>

