<% content_for :page_div do %>
  <div class="page" data-role="page" data-fullscreen="true" id="meeting_show_page">
<% end %>
<% content_for :heading do %>
  <%= link_to "Back", user_show_list_path(current_user), "data-icon" => "back",
                "data-role" => "button", "class" => "ui-btn-left" %>
    
  <h1>Meeting with <%= @other_users[0].name %></h1>
<% end %>

<p><%= "#{@meeting.created_at.strftime("%d/%m/%Y %R")}" %></p>
<p id="meeting_venue_name"><%= @meeting.venue.name unless @meeting.venue.blank? %></p>

<button id="venues_search_button">Edit venue (Foursquare)</button>
<ul id="meeting_venues_list" data-role="listview" data-inset="true">
</ul>
<p><%= "Latitude: #{@meeting.latitude}, longitude: #{@meeting.longitude}" %></p>

<ul data-role="listview" data-inset="true"  id="notes_list" data-split-icon="delete" data-split-theme="a">
    <%= render @meeting.notes %>
</ul>

<%#= render :partial => 'notes/form', :locals => { :meeting_id => @meeting.id }  %>

<textarea name="textarea" id="note_textarea" placeholder="New note"></textarea>
<button id="new_note_button">Add</button>

<%= render :partial => 'layouts/footer', :locals => { :footer_tab => 'list' } %>

<script type="text/javascript">
  $("#venues_search_button").bind( "click", function(event, ui) {
    $.ajax("<%= find_nearby_venues_path %>", {  
        // type: 'POST',
        data: { meeting_id: <%= @meeting.id %> },
        success: function(data) { 
          // alert(data) 
        },
        error: function() { alert('error in updating location list!') }
    });
  });

  $("#new_note_button").bind( "click", function(event, ui) {
    var text = $("#note_textarea");
    $("#new_note_info").html("");
    if(text.val() != "") {
      $.ajax("<%= notes_path %>", {  
              type: 'POST',
              data: { content: $("#note_textarea").val(), 
                      meeting_id: <%= @meeting.id %> },
              success: function(data) { 
                // alert(data) 
              },
              error: function() { alert('error in adding note!') }
          });
    } else {
      alert("A note can not be blank");
    }
  });
</script>
