<% content_for :heading do %>
  <%= link_to "Back", "#", "data-rel" => "back", "data-icon" => "back",
                "data-role" => "button", "class" => "ui-btn-left" %>
  <h1>Edit user</h1>
<% end %>

<%= form_for @user,  html: { :'data-ajax' => 'false'} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <fieldset>
    <div data-role="fieldcontain">
      <%= f.text_field :name, placeholder: "Name" %>
    </div>
    <div data-role="fieldcontain">
      <%= f.email_field :email, placeholder: "Email" %>
    </div>
    <%= f.submit "Save changes" %>
  </fieldset>
  <div data-role="content">
    <%= gravatar_for @user %>
  </div>
  <div data-role="content">
    <a href="http://gravatar.com/emails">change</a>
  </div>
<% end %>

<%= render :partial => 'layouts/footer', :locals => { :footer_tab => 'profile' } %>