<% content_for :heading do %>
  <% link_to "Back", start_url, "class" => "ui-btn-left", "data-role" => "button" %>
   <h1>Sign up</h1>
<% end %>

<%= form_for @user,  html: { :'data-ajax' => 'false'} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <fieldset>
    <div data-role="fieldcontain">
      <%= f.text_field :name, placeholder: "User name", id: "new_user_name" %>
    </div>
    <div data-role="fieldcontain">
      <%= f.email_field :email, placeholder: "Email (optional)", id: "new_user_email" %>
    </div>
    <%= f.submit "Create my account" %>
  </fieldset>
<% end %>

