<% content_for :heading do %>
  <div data-theme="a" data-role="header">
    <%= link_to "Sign out", signout_path, method: "delete",
                "data-role" => "button", "class" => "ui-btn-left" %>
    <h1>
      <%= @user.name %>
    </h1>
  </div>
<% end %>
<div data-role="content">
  <%= gravatar_for @user, size: 80 %>
  <%= @user.name %>
</div>
<%= link_to "Edit Profile", edit_user_path(current_user),
            "data-role" => "button" %>
