<% content_for :heading do %>
  <div data-theme="a" data-role="header">
    <a data-role="button" data-rel="back" class="ui-btn-left" data-icon="back">Back</a>
    <%= link_to "Sign out", signout_path, method: "delete",
                "data-role" => "button", "class" => "ui-btn-right" %>
    <h1>
      <%= @user.name %>
    </h1>
  </div>
<% end %>

<div data-role="content">
  <%= gravatar_for @user, size: 80 %>
  <%= @user.name %>
  <%= link_to "Edit profile", edit_user_path(current_user),
              "data-role" => "button",
              "data-inline" => "true",
              "data-icon" => "gear",
              "data-iconpos" => "notext",
              "style" => "float: right",
              "data-theme" => "a" %>

</div>

<div data-role="content">
  My links:
  <% if @user.infos.any? %>
    <ul data-role="listview" data-inset="true" data-split-icon="delete" data-split-theme="a">
      <%= render @infos %>
    </ul>
  <% end %>

  <%= link_to "Add link", new_info_path,
              "data-role" => "button",
              "data-inline" => "true",
              "data-icon" => "add",
              "data-iconpos" => "notext",
              "data-theme" => "a" %>
</div>
