<% content_for :heading do %>
  <%= link_to "Back", "#", "data-rel" => "back", "data-icon" => "back",
              "data-role" => "button", "class" => "ui-btn-left" %>
  <h1>New info</h1>
<% end %>

<%= form_for @info,  html: { :'data-ajax' => 'false'} do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <fieldset>
    <div data-role="fieldcontain">
      <%= f.select :info_type,
                   [ 'email', 'Website', 'Social account', 'Phone number', 'Address', 'Other' ],
                   :prompt => 'Type'
      %>
    </div>
    <div data-role="fieldcontain">
      <%= f.text_area :content, placeholder: "Info" %>
    </div>
    <%= f.submit "Add" %>
  </fieldset>
<% end %>

<%= render :partial => 'layouts/footer', :locals => {:footer_tab => "profile"} %>