<!DOCTYPE html>
<html>
<head>

  <title>Catchup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable=no>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.3.0/jquery.mobile-1.3.0.min.css", :media => "all" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js" %>
  
  <!-- Google maps stuff -->
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyBYIeys4U0Yx8ac2dUQ9uwJzEgvbyN7WbM&sensor=true" %>
  <%= javascript_include_tag "/assets/markerwithlabel.js" %>
  <!-- End of google maps stuff -->

  <%= javascript_include_tag "my.js" %>

  <%= csrf_meta_tags %>

  <!-- Use only if you want to cache all visited pages 
  <script>
    $.mobile.page.prototype.options.domCache = true;
  </script> -->

</head>
<body>
  <%= yield :page_div %>
    <div data-theme="a" data-role="header" data-position="fixed">
      <%= yield :heading %>
    </div>
    <div id="info"></div>

    <!-- TODO this stays on the page when navigating on the footer since ajax is used by jqm -->
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, id: "alert-#{key}") %>
    <% end %>

    <%= yield %>

    <%#= debug(params) if Rails.env.development? %>
  </div>
</body>
</html>
