<!DOCTYPE html>
<html>
<head>

  <title>Catchup</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" user-scalable=no>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <%= include_gon %>
  <%= javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true" %>
  <%= javascript_include_tag "http://google-maps-utility-library-v3.googlecode.com/svn/trunk/styledmarker/src/StyledMarker.js" %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= stylesheet_link_tag "https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.3.0/jquery.mobile-1.3.0.min.css", :media => "all" %>
  <%= javascript_include_tag "http://code.jquery.com/mobile/1.3.0/jquery.mobile-1.3.0.min.js" %>

  <%= javascript_include_tag "ui_map/min/jquery.ui.map.min.js" %>
  <%= javascript_include_tag "ui_map/min/jquery.ui.map.overlays.min.js" %>
  <%= javascript_include_tag "ui_map/min/jquery.ui.map.services.min.js" %>
  <%= javascript_include_tag "ui_map/jquery.ui.map.extensions.js" %>
  <%= javascript_include_tag "my.js" %>

  <%= csrf_meta_tags %>

</head>
<body>
  <!--<div class="page" data-role="page" data-dom-cache="true" data-fullscreen="true" id="gmaps">-->
  <div class="page" data-role="page" data-fullscreen="true" id="carte">
    <div data-theme="a" data-role="header" data-theme="b">
      <%= yield :heading %>
    </div>
    <div id="info"></div>
    <div data-role="content" id="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, id: "alert-#{key}") %>
      <% end %>

      <%= yield %>

      <%= debug(params) if Rails.env.development? %>
    </div>
  </div>
</body>
</html>
