<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>Catchup</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= stylesheet_link_tag "https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.css", :media => "all" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.aspnetcdn.com/ajax/jquery.mobile/1.2.0/jquery.mobile-1.2.0.min.js" %>
  <%= csrf_meta_tags %>

</head>
<body>
  <div data-role="page" data-dom-cache="true">

    <%= yield :heading %>

    <div id="container">
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, id: "alert-#{key}") %>
        <!--<div id="alert-<%= key %>"><%= value %></div>-->
      <% end %>


    <div data-role="content">
      <%= yield %>
      <div data-role="content" data-position="fixed">
        <%= debug(params) if Rails.env.development? %>
      </div>
    </div>
  </div>
</body>
</html>
